.not-avaliable-now {
    cursor: not-allowed;
}

.brif {
    &__wrapper {
        width: 60vw;
        margin: 0 auto;
        padding-bottom: 80px;
        @media screen and (max-width: $beforeDesktopWidth) {        // max 767    
            width: 66vw;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
            width: 89vw;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767    
            width: 100vw;
        }
    }
    &__right {
        max-width: 83%;
        flex: 0 0 83%;
        @media screen and (max-width: $beforeTableWidth) {        // max 767    
            max-width: 100%;
            flex: 100%;
            padding: 0 24px;
        }
    } 
    &__left {
        flex: 0 0 17.4%;
        max-width: 17.4%;
        @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
            max-width: 11.7%;
            flex: 0 0 11.7%;
            
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767    
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 24px;
        }
    }
    &__dots {
        display: flex;
        flex-direction: row;
        @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
            margin-top: 24px;   
        }
        div {
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background-color: #C5C5C5;
            margin-right: 4px;
            &:nth-child(1){
                background-color: #929292;
            }
            &:nth-child(3) {
                margin-right: 0;
            }
        }
    }
}

.brif-heading {
    display: flex;
    flex-direction: row;
    padding-top: 142px;
    margin-bottom: 141px;
    @media screen and (max-width: $beforeDesktopWidth) {        // max 767    
        padding-top: 119px;
        margin-bottom: 112px;
    }
    @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
        padding-top: 81px;
        margin-bottom: 105px;
    }
    @media screen and (max-width: $beforeTableWidth) {        // max 767    
        padding-top: 75px;
        flex-direction: column;
        margin-bottom: 57px;
    }
    &__title {
        font-family: $TTM;
        font-size: 111px;
        color: #000;
        line-height: 72px;
        @media screen and (max-width: $beforeDesktopWidth) {        // max 767    
            font-size: 100px;
            line-height: 73px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
            font-size: 80px;
            line-height: 99px;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767    
            font-size: 52px;
            line-height: 60px;
        }
    }
    &__subtitle {
        max-width: 535px;
        margin-top: 51px;
        @media screen and (max-width: $beforeDesktopWidth) {        // max 767    
            margin-top: 40px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
            max-width: 357px;
            margin-top: 15px;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767    
            max-width: 265px;
            margin-top: 70px;
        }
        p {
            font-family: $TTM;
            font-size: 18px;
            color: #181818;
            line-height: 29px;
            @media screen and (max-width: $beforeDesktopWidth) {        // max 767    
                font-size: 14px;
                line-height: 22px;
            }
            @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
                font-size: 12px;
                line-height: 19px;
            }            
        }
    }
}

.brif-checkboxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    @media screen and (max-width: $beforeDesktopWidth) {        // max 767    
        margin-top: 26px;
    }
    @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
        margin-top: 21px;
    }
    @media screen and (max-width: $beforeTableWidth) {        // max 767    
        margin-top: 22px;
    }
    &__item {
        cursor: pointer;
        position: relative;
        margin-right: 26px;
        margin-bottom: 15px;
        @media screen and (max-width: $beforeTableWidth) {        // max 767    
            margin-right: 12px;
            margin-bottom: 12px;
        }
        input {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            &:checked + .brif-checkboxes__body {
                background-color: #000;
                span {
                    color: #fff;
                }
            }
        }
    }
    
    &__body {
        height: 51px;
        display: flex;
        align-items: center;
        border-radius: 50px;
        background-color: #f5f5f5;
        padding: 0 32px;
        transition: .3s;
        @media screen and (max-width: $beforeDesktopWidth) {        // max 767    
            height: 40px;
            padding: 0 23px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
            height: 42px;
            padding: 0 18px;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767    
            height: 39px;
            padding: 0 20px;
        }
        span {
            font-family: $TTM;
            font-size: 14px;
            user-select: none;
            color: #3d3d3d;
            @media screen and (max-width: $beforeDesktopWidth) {        // max 767    
                font-size: 12px;
            }
            @media screen and (max-width: $beforeTableWidth) {        // max 767    
                font-size: 11px;
            }
        }
    }
}

.brif-lane {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: $beforeTableWidth) {        // max 767    
        flex-direction: column;
    }
    &__pre-title {
        font-family: $TTS;
        font-size: 20px;
        @media screen and (max-width: $beforeDesktopWidth) {        // max 767    
            font-size: 16px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
            font-size: 15px;
        }
    }
    &__body {
        border-top: 1px solid #C5C5C5;
        padding-top: 12px;
        margin-bottom: 105px;
        @media screen and (max-width: $beforeDesktopWidth) {        // max 767    
            padding-top: 7px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
            padding-top: 5px;
            margin-bottom: 66px;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767    
            margin-top: 10px;
            margin-bottom: 42px;
        }
    }
    &__description {
        font-family: $TTM;
        font-size: 14px;
        color: #9e9e9e;
        width: 100%;
        @media screen and (max-width: $beforeDesktopWidth) {        // max 767    
            font-size: 11px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
            font-size: 11px;
        }
    }
}

.brif-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 36px;
    @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
        margin-top: 32px;
    }
    &__full {
        display: flex;
        flex-direction: column;
        width: 100%;
        span {
            font-family: $TTS;
            font-size: 14px;
            color: #3d3d3d;
            @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
                font-size: 11px;
            }
            @media screen and (max-width: $beforeTableWidth) {        // max 767    
                font-size: 12px;
            }
        }
        input {
            font-family: $TTS;
            font-size: 16px;
            color: #3d3d3d;
            border-bottom: 1px solid #000000;
            line-height: 37px;
            padding-bottom: 11px;
            transition:.4s;
            &._error {
                border-bottom: 1px solid #e73737;
            }
            @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
                font-size: 11px;
            }
            @media screen and (max-width: $beforeTableWidth) {        // max 767    
                font-size: 13px;
            }
            &::placeholder {
                font-family: $TTS;
                font-size: 16px;
                color: #B1b1b1;
                @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
                    font-size: 11px;
                }
                @media screen and (max-width: $beforeTableWidth) {        // max 767    
                    font-size: 13px;
                }
            }
        }
    }
    &__half {
        display: flex;
        flex-direction: column;
        width: 48%;
        margin-bottom: 38px;
        @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
            margin-bottom: 28px;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767    
            width: 100%;
        }
        span {
            font-family: $TTS;
            font-size: 14px;
            color: #3d3d3d;
            @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
                font-size: 11px;
            }
        }
        input {
            font-family: $TTS;
            font-size: 16px;
            color: #3d3d3d;
            border-bottom: 1px solid #000000;
            line-height: 37px;
            padding-bottom: 11px;
            @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
                font-size: 11px;
                padding-bottom: 2px;
            }
            @media screen and (max-width: $beforeTableWidth) {        // max 767    
                font-size: 13px;
            }
            &::placeholder {
                font-family: $TTS;
                font-size: 16px;
                color: #B1b1b1;
                @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
                    font-size: 11px;
                }
                @media screen and (max-width: $beforeTableWidth) {        // max 767    
                    font-size: 13px;
                }
            }
        }
    }
}
// .brif-attachment {

// }

.brif-polit {
    font-family: $TTM;
    font-size: 16px;
    color: #777777;
    line-height: 25.7px;
    @media screen and (max-width: $beforeDesktopWidth) {        // max 767    
        font-size: 13px;
        line-height: 21px;
        margin-top: -80px;
    }
    @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
        margin-top: -69px;
        font-size: 12px;
        line-height: 19px;
    }
    @media screen and (max-width: $beforeTableWidth) {        // max 767    
        font-size: 12px;
        line-height: 19px;
        margin-top: 0;
    }
}
.brif-errors {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    &.name-error {
        .brif-errors__name {
            display: block;
            opacity: 1;
            visibility: visible;   
        }
    }
    &.email-error {
        .brif-errors__email {
            display: block;
            opacity: 1;
            visibility: visible;   
        }
    }
    &__title {
        font-family: $TTM;
        font-size: 19px;
        color: #777777;
        margin-bottom: 7px;
        @media screen and (max-width: $beforeDesktopWidth) {        // max 767    
            font-size: 15px;
        }
        @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
            font-size: 13px;
            line-height: 21px;
        }
        @media screen and (max-width: $beforeTableWidth) {        // max 767    
            font-size: 14px;
        }
        span {
            text-decoration: underline;
        }
    }
    &__name {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    &__email {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}
.brif-buttons {
    margin-top: 55px;
}
.brif-button {
    cursor: pointer;
    height: 166px;
    width: 166px;
    border-radius: 50%;
    background-color: #A0A0A0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    @media screen and (max-width: $beforeDesktopWidth) {        // max 767    
        height: 137px;
        width: 137px;
    }
    @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
        height: 126px;
        width: 126px;
    }
    @media screen and (max-width: $beforeTableWidth) {        // max 767    
        height: 128px;
        width: 128px;
        margin: 0 auto;
    }
    .svg {
        height: 27px;
        width: 27px;
        background-color: #fff;
        transition: .4s;
        @media screen and (max-width: $beforeTableWidth) {        // max 767    
            height: 21px;
            width: 21px;
        }
    }
    &:hover {
        background-color: #FAC400;
        .svg {
            background-color: #000;
        }   
    }
}