// Fonts here
// see more: https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files
  @font-face {
    font-family: "TTInterfaces Regular"; 
    src: url(../fonts/TTInterfaces-Regular.woff);
  }
  @font-face {
    font-family: "TTInterfaces Semibold"; 
    src: url(../fonts/TTInterfaces-SemiBold.woff);
  }

  @font-face {
    font-family: "TTInterfaces Bold"; 
    src: url(../fonts/TTInterfaces-Bold.woff);
  }

  @font-face {
    font-family: "TTInterfaces Medium"; 
    src: url(../fonts/TTInterfaces-Medium.woff);
  }
  
 @font-face {
    font-family: "Graphik LCG Regular"; 
    src: url(../fonts/GraphikLCG-Regular.woff);
  }
  
  // @font-face {
  //   font-family: "Graphik LCG Medium"; 
  //   src: url(../fonts/GraphikLCG-Medium.woff);
  // }

  // @font-face {
  //   font-family: "Graphik LCG Bold"; 
  //   src: url(../fonts/GraphikLCG-Bold.woff);
  // }
  