// Fonts here
// see more: https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files
  @font-face {
    font-family: "SF Regular"; 
    src: url(../fonts/SFUIDisplay-Regular.woff);
  }
  @font-face {
    font-family: "SF Semibold"; 
    src: url(../fonts/SFUIDisplay-Semibold.woff);
  }

  @font-face {
    font-family: "SF Bold"; 
    src: url(../fonts/SFUIDisplay-Bold.woff);
  }

  @font-face {
    font-family: "SF Medium"; 
    src: url(../fonts/SFUIDisplay-Medium.woff);
  }
  
 @font-face {
    font-family: "Graphik LCG Regular"; 
    src: url(../fonts/GraphikLCG-Regular.woff);
  }
  
  // @font-face {
  //   font-family: "Graphik LCG Medium"; 
  //   src: url(../fonts/GraphikLCG-Medium.woff);
  // }

  // @font-face {
  //   font-family: "Graphik LCG Bold"; 
  //   src: url(../fonts/GraphikLCG-Bold.woff);
  // }
  