// Font
$mainFont                : 'TTInterfaces Regular', 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #434343;
$mainFontSize            : 13px;
$mainLineHeight          : 21.44px;

$desktopWidth            : 1200px;
$beforeDesktopWidth      : 1199px;
$smDesktopWidth          : 992px;
$beforeSmDesktopWidth    : 991px;
$tableWidth              : 768px;
$beforeTableWidth        : 767px;
$bigPhoneWidth           : 576px;
$beforeBigPhoneWidth     : 575px;
$phoneWidth              : 480px;
$beforePhoneWidth        : 479px;
$smPhoneWidth            : 325px;

$TTR: 'TTInterfaces Regular', $mainFont;
$TTM: 'TTInterfaces Medium', $mainFont;
$TTS: 'TTInterfaces Semibold', $mainFont;
$TTB: 'TTInterfaces Bold', $mainFont;

$GLR: 'Graphik LCG Regular', $mainFont;
$GLM: 'Graphik LCG Medium', $mainFont;
$GLB: 'Graphik LCG Bold', $mainFont;


