<% var data = {
    title: "Godunov | Блог",
  }; %>
  
  
  <%= _.template(require('./../includes/head.html'))(data) %>
  <%= _.template(require('./../includes/header.html'))(data) %>
  
  <section class="page-header blog">
    <div class="container">
      <div class="performance-counter blog-page">
        <%= _.template(require('./../includes/performance.html'))(data) %>
      </div>
      <div class="page-header__wrapper">
        <div class="page-header__heading">
          <div class="page-header__title">
            Блог
            <span>(+7)</span>
          </div>
         
        </div>

        <!-- links -->
        <div class="news-heading__links">
          <div class="news-heading__links-row">
            <a href="#" class="news-heading__links-item underlined-animation">
              <span class="underlined-animation__sub">
                vc.ru
              </span>
            </a>
            <span class="plus">+</span>
            <a href="#" class="news-heading__links-item underlined-animation">
              <span class="underlined-animation__sub">
                CMS
              </span>  
            </a>
          </div>
          <div class="news-heading__links-row">
            <a href="#" class="news-heading__links-item underlined-animation">
              <span class="underlined-animation__sub">
                Habr
              </span>
            </a>
          </div>
        </div>
        <!-- links END -->
      </div>
    </div>
  </section>
  <section id="news" class="news news-page">
    <div class="container">
      <div class="news__wrapper">
         <!-- news cart -->
      <div class="news__col">
        <a target="_blank" href="https://vc.ru/dev/216151-chto-nuzhno-znat-kazhdomu-kto-razrabatyvaet-svoy-internet-magazin" class="news-cart">
          <!-- news decoration -->
          <div class="news-cart__deco">
            <img src="../../img/general/deco.png" alt="">
          </div>
          <div class="news-cart__preview">
            <img src="../../img/blog/content.png" alt="">
          </div>
          <div class="news-cart__heading">
            <ul class="news-cart__tags">
              <li class="news-cart__tag">
                Разработка
              </li>
            </ul>
            <div class="news-cart__title">
              <span>Что нужно знать каждому,</span>кто разрабатывает свой интернет-магазин
            </div>
          </div>
        </a>
      </div>
      <!-- news cart END -->

      <!-- news cart -->
      <div class="news__col">
        <a target="_blank" href="https://vc.ru/marketing/195597-filosofiya-myshleniya-zakazchika-pochemu-ne-poluchaetsya-prodat-dazhe-esli-silno-hochetsya" class="news-cart">
          <div class="news-cart__preview">
            <img src="../../img/blog/thi.png" alt="">
          </div>
          <div class="news-cart__heading">
            <ul class="news-cart__tags">
              <li class="news-cart__tag">
                Маркетинг
              </li>
            </ul>
            <div class="news-cart__title">
              <span>Философия мышления заказчика.</span> Почему не получается продать даже если сильно хочется?
            </div>
          </div>
        </a>
      </div>
      <!-- news cart END -->

      <!-- news cart -->
      <div class="news__col">
        <a target="_blank" href="https://vc.ru/dev/158886-chetyre-etapa-razrabotki-sayta-ili-4-kruga-ada" class="news-cart">
          <div class="news-cart__preview">
            <img src="../../img/blog/petr.png" alt="">
          </div>
          <div class="news-cart__heading">
            <ul class="news-cart__tags">
              <li class="news-cart__tag">
                Разработка
              </li>
            </ul>
            <div class="news-cart__title">
              <span>Четыре круга ада,</span> или четыре этапа разработки сайта
            </div>
          </div>
        </a>
      </div>
      <!-- news cart END -->

      <!-- news cart -->
      <div class="news__col">
        <a target="_blank" href="https://vc.ru/services/161947-chem-horosh-sayt-na-tilde-i-pochemu-ne-nado-lezt-v-dorogostoyashchie-resheniya" class="news-cart">
          <div class="news-cart__preview">
            <img src="../../img/blog/yan.png" alt="">
          </div>
          <div class="news-cart__heading">
            <ul class="news-cart__tags">
              <li class="news-cart__tag">
                Разработка
              </li>
            </ul>
            <div class="news-cart__title">
              <span>Чем хорош сайт на Тильде?</span> И почему не надо лезть в дорогостоящие решения 
            </div>
          </div>
        </a>
      </div>
      <!-- news cart END -->

       <!-- news cart -->
       <div class="news__col">
        <a target="_blank" href="https://vc.ru/dev/153785-skolko-stoit-sayt" class="news-cart">
          <div class="news-cart__preview">
            <img src="../../img/blog/film.png" alt="">
          </div>
          <div class="news-cart__heading">
            <ul class="news-cart__tags">
              <li class="news-cart__tag">
                Разработка
              </li>
            </ul>
            <div class="news-cart__title">
              <span>Сколько стоит сайт?</span>
            </div>
          </div>
        </a>
      </div>
      <!-- news cart END -->

       <!-- news cart -->
       <div class="news__col">
        <a target="_blank" href="https://vc.ru/design/129341-kak-mikrovzaimodeystviya-v-interfeyse-vliyayut-na-vzaimodeystvie-s-polzovatelem" class="news-cart">
          <div class="news-cart__preview">
            <img src="../../img/blog/rock.png" alt="">
          </div>
          <div class="news-cart__heading">
            <ul class="news-cart__tags">
              <li class="news-cart__tag">
                Разработка
              </li>
            </ul>
            <div class="news-cart__title">
              <span>Микровзаимодействия в интерфейсе,</span> как на взаимодействие с пользователем
            </div>
          </div>
        </a>
      </div>
      <!-- news cart END -->
      </div>
    </div>
  </section>
  
  <%= _.template(require('./../includes/modals.html'))(data) %>
  <%= _.template(require('./../includes/footer.html'))(data) %>