<% var data = {
    title: "Godunov | Brief",
  }; %>
  
  
  <%= _.template(require('./../includes/head.html'))(data) %>
  <%= _.template(require('./../includes/header.html'))(data) %>


  <section id="brif" class="brif">
    <form id='idk' class="brif__wrapper forms-collector">
      <div class="brif-heading">
        <div class="brif__left">
          <div class="brif__dots">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="brif__right">
          <div class="brif-heading__title">
            <span>
              Бриф
            </span>
          </div>
          <div class="brif-heading__subtitle">
            <p>Вы можете позвонить нам и мы заполним все за вас</p>
            <p>+7 (910) 244-96-39 или написать на почту info@godunov.digital</p>
          </div>
        </div>
      </div>
      <!-- line -->
      <div class="brif-lane">
        <div class="brif__left">
          <div class="brif-lane__pre-title">
            <span>Услуги</span>
          </div>
        </div>
        <div class="brif__right">
          <div class="brif-lane__body">
            <div class="brif-lane__description">
              <span>Выберете одну или несколько услуг</span>
            </div>
            <div class="brif-checkboxes">
              <label class="brif-checkboxes__item">
                <input type="checkbox" name="whatneed" value=""ux ui design/>
                <div class="brif-checkboxes__body">
                  <span>UI & UX дизайн</span>
                </div>
              </label>
              <label class="brif-checkboxes__item">
                <input type="checkbox" name="whatneed" value="Брендинг"/>
                <div class="brif-checkboxes__body">
                  <span>Брендинг</span>
                </div>
              </label>
              <label class="brif-checkboxes__item">
                <input type="checkbox" name="whatneed" value="Лого"/>
                <div class="brif-checkboxes__body">
                  <span>Логотип</span>
                </div>
              </label>
              <label class="brif-checkboxes__item">
                <input type="checkbox" name="whatneed" value="Разработка"/>
                <div class="brif-checkboxes__body">
                  <span>Разработка</span>
                </div>
              </label>
              <label class="brif-checkboxes__item">
                <input type="checkbox" name="whatneed" value="Интеграции"/>
                <div class="brif-checkboxes__body">
                  <span>Интеграции</span>
                </div>
              </label>
              <label class="brif-checkboxes__item">
                <input type="checkbox" name="whatneed" value="Техническая поддержка"/>
                <div class="brif-checkboxes__body">
                  <span>Техническая поддержка</span>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- end LINe -->

      <!-- line -->
      <div class="brif-lane">
        <div class="brif__left">
          <div class="brif-lane__pre-title">
            <span>Бюджет</span>
          </div>
        </div>
        <div class="brif__right">
          <div class="brif-lane__body">
            <div class="brif-lane__description">
              <span>Выберете ваш бюджет на проект</span>
            </div>
            <div class="brif-checkboxes">
              <label class="brif-checkboxes__item">
                <input type="radio" name="client-price" value="300k" />
                <div class="brif-checkboxes__body">
                  <span>менее 300 тыс</span>
                </div>
              </label>
              <label class="brif-checkboxes__item">
                <input type="radio" name="client-price" value="300k-500k" />
                <div class="brif-checkboxes__body">
                  <span>300-500 тыс</span>
                </div>
              </label>
              <label class="brif-checkboxes__item">
                <input type="radio" name="client-price" value="500k-1kk" />
                <div class="brif-checkboxes__body">
                  <span>500 тыс - 1 млн</span>
                </div>
              </label>
              <label class="brif-checkboxes__item">
                <input type="radio" name="client-price" value="1kk-3kk" />
                <div class="brif-checkboxes__body">
                  <span>1-3 млн</span>
                </div>
              </label>
              <label class="brif-checkboxes__item">
                <input type="radio" name="client-price" value="more 3 kkk" />
                <div class="brif-checkboxes__body">
                  <span>Более 3 млн</span>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- end LINe -->

      <!-- line -->
      <div class="brif-lane">
        <div class="brif__left">
          <div class="brif-lane__pre-title">
            <span>Задача</span>
          </div>
        </div>
        <div class="brif__right">
          <div class="brif-lane__body">
            <div class="brif-lane__description">
              <span>Опишите вашу задачу</span>
            </div>
            <div class="brif-inputs">
              <label class="brif-inputs__full">
                <span>Задача</span>
                <input name="task" type="text" class="" placeholder="Начните писать" />
              </label>
            </div>
            <!-- <div class="brif-attachment">
          <label>

            <input type="file" class="brif-attachment__item" name="files" multiple>
          </label>
        </div> -->
          </div>
        </div>
      </div>
      <!-- end LINe -->

      <!-- line -->
      <div class="brif-lane">
        <div class="brif__left">
          <div class="brif-lane__pre-title">
            <span>Контакты</span>
          </div>
        </div>
        <div class="brif__right">
          <div class="brif-lane__body">
            <div class="brif-lane__description">
              <span>Зполните контактные данные</span>
            </div>
            <div class="brif-inputs">
              <label class="brif-inputs__half">
                <span>Имя</span>
                <input name="name" type="text" class="_req" placeholder="Александр" />
              </label>

              <label class="brif-inputs__half">
                <span>Компания</span>
                <input name="company" type="text" class="" placeholder="WalMart" />
              </label>

              <label class="brif-inputs__half">
                <span>Email</span>
                <input name="email" type="text" class="_req" placeholder="godunovofc@gmail.com" />
              </label>

              <label class="brif-inputs__half">
                <span>Телефон</span>                                
                <input name="phone" type="text" class="_req" placeholder="+7 (910) 244-96-39" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- end LINe -->

      <!-- line -->
      <div class="brif-lane">
        <div class="brif__left">
          <div class="brif-lane__pre-title">
            <span>Источник</span>
          </div>
        </div>
        <div class="brif__right">
          <div class="brif-lane__body">
            <div class="brif-lane__description">
              <span>Откуда вы узнали о нас?</span>
            </div>
            <div class="brif-checkboxes">
              <label class="brif-checkboxes__item">
                <input type="checkbox" name="howuknow" value="Рейтинг"/>
                <div class="brif-checkboxes__body">
                  <span>Рейтинги</span>
                </div>
              </label>
              <label class="brif-checkboxes__item">
                <input type="checkbox" name="howuknow" value="Рекомендации"/>
                <div class="brif-checkboxes__body">
                  <span>Рекомендации</span> 
                </div>
              </label>
              <label class="brif-checkboxes__item">
                <input type="checkbox" name="howuknow" value="Кейсы"/>
                <div class="brif-checkboxes__body">
                  <span>
                    Кейсы
                  </span>
                </div>
              </label>
              <label class="brif-checkboxes__item">
                <input type="checkbox" name="howuknow" value="Соцсети"/>
                <div class="brif-checkboxes__body">
                  <span>Соцсети</span>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- end LINe -->

      <!-- line -->
      <div class="brif-lane">
        <div class="brif__left">
          <div class="brif-lane__pre-title">
            <span></span>
          </div>
        </div>
        <div class="brif__right">
          <div class="brif-polit">
            <span>Нажимая на кнопку вы соглашаетесь с условиями </span>
            <a href="#" class="underlined-animation">
              <span class="swipe-animation underlined-animation__sub">
                <span class="swipe-animation__wrapper">
                  <span class="swipe-animation__title">
                    хранения и использования персональных данных
                    <span class="swipe-animation__sub">
                      хранения и использования персональных данных
                    </span>
                  </span>
                </span>
              </span>
            </a>
          </div>

          <div id="errors-block" class="brif-errors">
            <span class="brif-errors__name brif-errors__title">В форме содержаться <span>ошибки</span></span>
          </div>

          <div class="brif-buttons">
            <button type="submit" class="brif-button">
              <div class="arrow-right-svg svg"></div>
            </button>
          </div>
        </div>
      </div>
      <!-- end LINe -->
    </form>
  </section>
  



  <%= _.template(require('./../includes/footer.html'))(data) %>