<% var data = {
  title: "Godunov Agency",
}; %>


<%= _.template(require('./../includes/head.html'))(data) %>
<%= _.template(require('./../includes/header.html'))(data) %>


<section id="first-screen" class="first-screen">
  <!-- scroll icon -->

  <div class="scrolling-icon">
    <div class="scrolling-icon__lines"></div>
    <div class="scrolling-icon__dot"></div>
  </div>
  <div class="container">
    <div class="performance-counter home-header">
      <%= _.template(require('./../includes/performance.html'))(data) %>
    </div>

    <div class="first-screen__wrapper">
      <div class="news-callout">
        <div class="header-news">
          <a target="_blank" href="https://vc.ru/design/129341-kak-mikrovzaimodeystviya-v-interfeyse-vliyayut-na-vzaimodeystvie-s-polzovatelem" class="header-news-cart">
            <div class="header-news-cart__poster">
              <img src="../../img/blog/seventh.png" alt="">
            </div>
            <div class="header-news-cart__heading">
              <span class="header-news-cart__title">
                <span>Микровзаимодействия в интерфейсе,</span>
                как влияет на взаимодействие с пользователем
              </span>
            </div>
          </a>
        </div>        
      </div>
      <div class="brand-slogan">
        <div class="brand-slogan__heading">
          <h2 class="brand-slogan__title">
            <span>Мы агенство полного цикла</span>
            <span class="pale"> производства цифровых продуктов </span>
          </h2>
        </div>
        <div class="brand-slogan__coins">
          <img class="brand-slogan__coins-item" src="../../img/general/coins.png">
        </div>
      </div>
      
      <!-- <div class="brand-heading">
        <h1 class="brand-heading__title">
          Digital Agency
        </h1>
      </div> -->

      <div class="mobile-down">
        <div class="mobile-down__body">
          <div class="arrow-right-svg"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="cases" class="cases">
  <div class="container">
    <div class="cases__wrapper">
      <!-- tehnokyltyra -->
      <a data-number="0" href="#" class="case" style="background-image: url(../../img/portfolio/techno/preview.png)">
        <div class="case__intro">
          <div class="case__heading">
            <div class="case__title underlined-animation">
              <span class="underlined-animation__sub">Tekhnokultura</span>
              <span>
                - онлайн магазин электроники широкого потребления
              </span>
            </div>
          </div>
          <div class="case__mob-disr">
            <span>
              Онлайн магазин электроники широкого потребления
            </span>
          </div>
        </div>
      </a>
      <!-- psk 2.0 -->
      <a data-number="3" href="#" class="case" style="background-image: url(../../img/portfolio/psk/preview.png);">
        <div class="case__intro">
          <div class="case__heading">
            <div class="case__title underlined-animation">
              <span class="underlined-animation__sub">ПСК ГАРАНТ</span>
              <span>
                - корпоративный сайт строительной компании
              </span>
            </div>
          </div>
          <div class="case__mob-disr">
            <span>
              Корпоративный сайт строительной компании
            </span>
          </div>
        </div>
      </a>
      <!-- balcan -->
      <a data-number="2" href="#" class="case" style="background-image: url(../../img/portfolio/rocket-shina/preview.png);">
        <div class="case__intro">
          <div class="case__heading">
            <div class="case__title underlined-animation">
              <span class="underlined-animation__sub">Rocket Shina</span>
              <span>
                - каталог грузовых и крупногабаритных шин
              </span>
            </div>
          </div>
          <div class="case__mob-disr">
            <span>
              Каталог грузовых и крупногабаритных шин
            </span>
          </div>
        </div>
      </a>
      <a data-number="5" href="#" class="case" style="background-image: url(../../img/portfolio/hamcore/preview.png);">
        <div class="case__intro">
          <div class="case__heading">
            <div class="case__title underlined-animation">
              <span class="underlined-animation__sub">Hamcore</span>
              <span>
                - онлайн магазин промышленных принтеров
              </span>
            </div>
          </div>
          <div class="case__mob-disr">
            <span>
              Онлайн магазин промышленных принтеров
            </span>
          </div>
        </div>
      </a>

      <a href="https://godunov.digital/cases" class="arrow-circle-button cases-button">
        <div class="arrow-circle-button__body">
          <div class="arrow-right-svg"></div>
        </div>
      </a>
    </div>
  </div>
</section>

<section id="news" class="news">
  <div class="container">
    <div class="performance-counter home-news">
      <%= _.template(require('./../includes/performance.html'))(data) %>
    </div>
    <div class="news-heading">
      <div class="news-heading__title">
        <span>Блог</span>
        <span class="little">
          (+19)
        </span>
      </div>
      <div class="news-heading__links">
        <div class="news-heading__links-row">
          <a target="_blank" href="https://vc.ru/u/501056-studiya-godunova" class="news-heading__links-item underlined-animation">
            <span class="underlined-animation__sub">
              vc.ru
            </span>
          </a>
          <span class="plus">+</span>
          <a target="_blank" href="https://ratingruneta.ru/agency-godunov-digital/" class="news-heading__links-item underlined-animation">
            <span class="underlined-animation__sub">
              Рейтинг Рунета
            </span>  
          </a>
        </div>
        <div class="news-heading__links-row">
          <a target="_blank" href="https://www.facebook.com/godunov.digital" class="news-heading__links-item underlined-animation">
            <span class="underlined-animation__sub">
              facebook
            </span>
          </a>
          <span class="plus">+</span>
          <a target="_blank" href="https://www.instagram.com/godunov.digital/" class="news-heading__links-item underlined-animation">
            <span class="underlined-animation__sub">
              Instagram
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="news__wrapper news__home">
      
             <!-- news cart -->
      <div class="news__col">
        <a data-number="0" id="f_article" target="_blank" href="https://vc.ru/dev/216151-chto-nuzhno-znat-kazhdomu-kto-razrabatyvaet-svoy-internet-magazin" class="news-cart article-cart">
          <!-- news decoration -->
          <div class="news-cart__deco">
            <img src="../../img/general/deco.png" alt="">
          </div>
          <div class="news-cart__preview">
            <img src="../../img/blog/first.png" alt="">
          </div>
          <div class="news-cart__heading">
            <ul class="news-cart__tags">
              <li class="news-cart__tag">
                Разработка
              </li>
            </ul>
            <div class="news-cart__title">
              <span>Что нужно знать каждому, </span>кто разрабатывает свой интернет-магазин
            </div>
          </div>
        </a>
      </div>
      <!-- news cart END -->

      <!-- news cart -->
      <div class="news__col">
        <a data-number="1" id="s_article" target="_blank" href="https://vc.ru/marketing/195597-filosofiya-myshleniya-zakazchika-pochemu-ne-poluchaetsya-prodat-dazhe-esli-silno-hochetsya" class="news-cart article-cart">
          <div class="news-cart__preview">
            <img src="../../img/blog/second.png" alt="">
          </div>
          <div class="news-cart__heading">
            <ul class="news-cart__tags">
              <li class="news-cart__tag">
                Маркетинг
              </li>
            </ul>
            <div class="news-cart__title">
              <span>Философия мышления заказчика.</span> Почему не получается продать даже если сильно хочется?
            </div>
          </div>
        </a>
      </div>
      <!-- news cart END -->

      <!-- news cart -->
      <div class="news__col">
        <a data-number="2" id="t_article" target="_blank" href="https://vc.ru/dev/158886-chetyre-etapa-razrabotki-sayta-ili-4-kruga-ada" class="news-cart article-cart">
          <div class="news-cart__preview">
            <img src="../../img/blog/petr.png" alt="">
          </div>
          <div class="news-cart__heading">
            <ul class="news-cart__tags">
              <li class="news-cart__tag">
                Разработка
              </li>
            </ul>
            <div class="news-cart__title">
              <span>Четыре круга ада,</span> или четыре этапа разработки сайта
            </div>
          </div>
        </a>
      </div>
      <!-- news cart END -->

      <!-- news cart -->
      <div class="news__col">
        <a data-number="3" id="fo_article" target="_blank" href="https://vc.ru/services/161947-chem-horosh-sayt-na-tilde-i-pochemu-ne-nado-lezt-v-dorogostoyashchie-resheniya" class="news-cart article-cart">
          <div class="news-cart__preview">
            <img src="../../img/blog/third.png" alt="">
          </div>
          <div class="news-cart__heading">
            <ul class="news-cart__tags">
              <li class="news-cart__tag">
                Разработка
              </li>
            </ul>
            <div class="news-cart__title">
              <span>Чем хорош сайт на Тильде?</span> И почему не надо лезть в дорогостоящие решения 
            </div>
          </div>
        </a>
      </div>
      <!-- news cart END -->

       <!-- news cart -->
       <div class="news__col">
        <a data-number="4" id="fi_article" target="_blank" href="https://vc.ru/dev/153785-skolko-stoit-sayt" class="news-cart article-cart">
          <div class="news-cart__preview">
            <img src="../../img/blog/sixth.png" alt="">
          </div>
          <div class="news-cart__heading">
            <ul class="news-cart__tags">
              <li class="news-cart__tag">
                Разработка
              </li>
            </ul>
            <div class="news-cart__title">
              <span>Сколько стоит сайт?</span>
            </div>
          </div>
        </a>
      </div>
      <!-- news cart END -->

       <!-- news cart -->
       <div class="news__col">
        <a data-number="5" id="si_article" target="_blank" href="https://vc.ru/design/129341-kak-mikrovzaimodeystviya-v-interfeyse-vliyayut-na-vzaimodeystvie-s-polzovatelem" class="news-cart article-cart">
          <div class="news-cart__preview">
            <img src="../../img/blog/seventh.png" alt="">
          </div>
          <div class="news-cart__heading">
            <ul class="news-cart__tags">
              <li class="news-cart__tag">
                Разработка
              </li>
            </ul>
            <div class="news-cart__title">
              <span>Микровзаимодействия в интерфейсе,</span> как влияет на взаимодействие с пользователем
            </div>
          </div>
        </a>
      </div>
      <!-- news cart END -->

      <a href="https://godunov.digital/blog" class="arrow-circle-button news-button">
        <div class="arrow-circle-button__body">
          <div class="arrow-right-svg"></div>
        </div>
      </a>
      
    </div>
  </div>
</section>

<%= _.template(require('./../includes/modals.html'))(data) %>
<%= _.template(require('./../includes/footer.html'))(data) %>