<% var data = {
  title: "Main Page | Project",
}; %>


<%= _.template(require('./../includes/head.html'))(data) %>
<%= _.template(require('./../includes/header.html'))(data) %>


<section id="first-screen" class="first-screen">
  <div class="container">
    <div class="performance-counter home">
      <%= _.template(require('./../includes/performance.html'))(data) %>
    </div>
    <div class="first-screen__wrapper">
      <div class="news-callout">
        <div class="header-news">
          <a href="#" class="header-news-cart">
            <div class="header-news-cart__poster">
              <img src="../../img/blog/thi.png" alt="">
            </div>
            <div class="header-news-cart__heading">
              <span class="header-news-cart__title">
                <span>Как подготовить контент сайта</span>
                не потеряв целое состояние
              </span>
            </div>
          </a>
        </div>        
      </div>
      <div class="brand-slogan">
        <div class="brand-slogan__heading">
          <h2 class="brand-slogan__title">
            <span>Мы агенство полного цикла</span>
            <span class="pale"> производства цифровых продуктов </span>
          </h2>
        </div>
        <div class="brand-slogan__coins">
          <img class="brand-slogan__coins-item" src="../../img/general/coins.png">
        </div>
      </div>
      
      <div class="brand-heading">
        <h1 class="brand-heading__title">
          Digital
          <span>/</span>
          Products
        </h1>
      </div>

      <div class="mobile-down">
        <a href="" class="mobile-down__body">
          <div class="arrow-right-svg"></div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="cases" class="cases">
  <div class="container">
    <div class="cases__wrapper">
      <a href="#" class="case" style="background-image: url(../../img/portfolio/1.png);">
        <div class="case__intro">
          <div class="case__heading">
            <div class="case__title underlined-animation">
              <span class="underlined-animation__sub">Tekhnokultura</span>
              <span>
                - онлайн магазин электроники широкого потребления
              </span>
            </div>
          </div>
          <div class="case__mob-disr">
            <span>
              Онлайн магазин электроники широкого потребления
            </span>
          </div>
        </div>
      </a>
      <a href="#" class="case" style="background-image: url(../../img/portfolio/2.png);">
        <div class="case__intro">
          <div class="case__heading">
            <div class="case__title underlined-animation">
              <span class="underlined-animation__sub">Rocket Shina</span> rest title оставшийся тайтл, не знаю что и зказать. Ну и ну...
            </div>
          </div>
          <div class="case__figure">
            <!-- <img src="../../img/portfolio/fig.png" alt=""> -->
          </div>
        </div>
      </a>
      <a href="#" class="case" style="background-image: url(../../img/portfolio/2.png)">
        <div class="case__intro">
          <div class="case__heading">
            <div class="case__title underlined-animation">
              <span class="underlined-animation__sub">Tekhnokultura</span> - онлайн магазин электроники широкого потребления
            </div>
          </div>
          <div class="case__figure">
            
          </div>
        </div>
      </a>
      <a href="#" class="case" style="background-image: url(../../img/portfolio/3.png);">
        <div class="case__intro">
          <div class="case__heading">
            <div class="case__title underlined-animation">
              <span class="underlined-animation__sub">Rocket Shina</span> rest title оставшийся тайтл, не знаю что и зказать. Ну и ну...
            </div>
          </div>
          <div class="case__figure">
            
          </div>
        </div>
      </a>

      <a href="#" class="arrow-circle-button cases-button">
        <div class="arrow-circle-button__body">
          <div class="arrow-right-svg"></div>
        </div>
      </a>
    </div>
  </div>
</section>

<section id="news" class="news">
  <div class="container">
    <div class="performance-counter home">
      <div class="performance-counter__wrapper">
        <span class="swipe-animation">
          <span class="swipe-animation__wrapper">
            <span class="swipe-animation__title performance-counter__small">
              20
              <span class="swipe-animation__sub">08</span>
            </span>
          </span>
        </span>
        <span class="swipe-animation">
          <span class="swipe-animation__wrapper">
            <span class="swipe-animation__title performance-counter__large">
              56
              <span class="swipe-animation__sub">16</span>
            </span>
          </span>
        </span>
        <span class="performance-counter__dot">
          .
        </span>
        <span class="swipe-animation">
          <span class="swipe-animation__wrapper">
            <span class="swipe-animation__title performance-counter__small">
              87
              <span class="swipe-animation__sub">42</span>
            </span>
          </span>
        </span>
        <span class="performance-counter__dot">
          .
        </span>
        <span class="swipe-animation">
          <span class="swipe-animation__wrapper">
            <span class="swipe-animation__title performance-counter__large">
              23
              <span class="swipe-animation__sub">23</span>
            </span>
          </span>
        </span>
        
      </div>
    </div>
    <div class="news-heading">
      <div class="news-heading__title">
        <span>Блог</span>
        <span class="little">
          (+19)
        </span>
      </div>
      <div class="news-heading__links">
        <div class="news-heading__links-row">
          <a href="#" class="news-heading__links-item underlined-animation">
            <span class="underlined-animation__sub">
              vc.ru
            </span>
          </a>
          <span class="plus">+</span>
          <a href="#" class="news-heading__links-item underlined-animation">
            <span class="underlined-animation__sub">
              CMS
            </span>  
          </a>
        </div>
        <div class="news-heading__links-row">
          <a href="#" class="news-heading__links-item underlined-animation">
            <span class="underlined-animation__sub">
              Habr
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="news__wrapper">
      
      <!-- news cart -->
      <div class="news__col">
        <a href="#" class="news-cart">
          <!-- news decoration -->
          <div class="news-cart__deco">
            <img src="../../img/general/deco.png" alt="">
          </div>
          <div class="news-cart__preview">
            <img src="../../img/blog/yan.png" alt="">
          </div>
          <div class="news-cart__heading">
            <ul class="news-cart__tags">
              <li class="news-cart__tag">
                Новости
              </li>
            </ul>
            <div class="news-cart__title">
              <span>«Яндекс» отключил SaveFrom,</span> Frigate и другие расширения в своём браузере
            </div>
          </div>
        </a>
      </div>
      <!-- news cart END -->

      <!-- news cart -->
      <div class="news__col">
        <a href="#" class="news-cart">
          <div class="news-cart__preview">
            <img src="../../img/blog/thi.png" alt="">
          </div>
          <div class="news-cart__heading">
            <ul class="news-cart__tags">
              <li class="news-cart__tag">
                Новости
              </li>
            </ul>
            <div class="news-cart__title">
              <span>«Яндекс» отключил SaveFrom,</span>Frigate и другие расширения в своём браузере
            </div>
          </div>
        </a>
      </div>
      <!-- news cart END -->

      <!-- news cart -->
      <div class="news__col">
        <a href="#" class="news-cart">
          <div class="news-cart__preview">
            <img src="../../img/blog/petr.png" alt="">
          </div>
          <div class="news-cart__heading">
            <ul class="news-cart__tags">
              <li class="news-cart__tag">
                Новости
              </li>
            </ul>
            <div class="news-cart__title">
              <span>«Яндекс» отключил SaveFrom,</span>Frigate и другие расширения в своём браузере
            </div>
          </div>
        </a>
      </div>
      <!-- news cart END -->

      <!-- news cart -->
      <div class="news__col">
        <a href="#" class="news-cart">
          <div class="news-cart__preview">
            <img src="../../img/blog/content.png" alt="">
          </div>
          <div class="news-cart__heading">
            <ul class="news-cart__tags">
              <li class="news-cart__tag">
                Новости
              </li>
            </ul>
            <div class="news-cart__title">
              <span>«Яндекс» отключил SaveFrom,</span>Frigate и другие расширения в своём браузере
            </div>
          </div>
        </a>
      </div>
      <!-- news cart END -->

       <!-- news cart -->
       <div class="news__col">
        <a href="#" class="news-cart">
          <div class="news-cart__preview">
            <img src="../../img/blog/film.png" alt="">
          </div>
          <div class="news-cart__heading">
            <ul class="news-cart__tags">
              <li class="news-cart__tag">
                Новости
              </li>
            </ul>
            <div class="news-cart__title">
              <span>«Яндекс» отключил SaveFrom,</span>Frigate и другие расширения в своём браузере
            </div>
          </div>
        </a>
      </div>
      <!-- news cart END -->

       <!-- news cart -->
       <div class="news__col">
        <a href="#" class="news-cart">
          <div class="news-cart__preview">
            <img src="../../img/blog/rock.png" alt="">
          </div>
          <div class="news-cart__heading">
            <ul class="news-cart__tags">
              <li class="news-cart__tag">
                Новости
              </li>
            </ul>
            <div class="news-cart__title">
              <span>«Яндекс» отключил SaveFrom,</span>Frigate и другие расширения в своём браузере
            </div>
          </div>
        </a>
      </div>
      <!-- news cart END -->
      <a href="#" class="arrow-circle-button news-button">
        <div class="arrow-circle-button__body">
          <div class="arrow-right-svg"></div>
        </div>
      </a>
      
    </div>
  </div>
</section>

<%= _.template(require('./../includes/modals.html'))(data) %>
<%= _.template(require('./../includes/footer.html'))(data) %>