<% var data = {
    title: "Godunov Agency | Отправлено",
  }; %>
  
<%= _.template(require('./../includes/head.html'))(data) %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div id="success-p" class="success-p">
    <div class="container">
        <div class="success-p__wrapper">
            <div class="success-p__main-title">
                <div class="success-title">
                    <div class="success-title__text">
                        <span>Отправлен</span>
                    </div>
                    <div class="success-title__coin">
                        <img src="../../img/general/fav.png" alt="">
                    </div>
                </div>
            </div>
            <div class="success-p__we">
                <div class="success-block">
                    <div class="success-block__heading">
                        <span>Мы</span>
                    </div>
                    <div class="success-block__body">
                        <ul class="success-block__links">
                            <li class="success-block__item">
                                <a href="https://ratingruneta.ru/agency-godunov-digital/" target="_blank">
                                    <span class="swipe-animation">
                                      <span class="swipe-animation__wrapper">
                                        <span class="swipe-animation__title">
                                          Рейтинг Рунета
                                          <span class="swipe-animation__sub">
                                            Рейтинг Рунета
                                          </span>
                                        </span>
                                      </span>
                                    </span>
                                </a>
                            </li>
                            <li class="success-block__item">
                                <a href="https://www.instagram.com/godunov.digital/" target="_blank">
                                    <span class="swipe-animation">
                                      <span class="swipe-animation__wrapper">
                                        <span class="swipe-animation__title">
                                          Instagram
                                          <span class="swipe-animation__sub">
                                            Instagram
                                          </span>
                                        </span>
                                      </span>
                                    </span>
                                </a>
                            </li>
                            <li class="success-block__item">
                                <a href="https://vc.ru/u/501056-studiya-godunova" target="_blank">
                                    <span class="swipe-animation">
                                      <span class="swipe-animation__wrapper">
                                        <span class="swipe-animation__title">
                                          vc.ru
                                          <span class="swipe-animation__sub">
                                            vc.ru
                                          </span>
                                        </span>
                                      </span>
                                    </span>
                                </a>
                            </li>
                            <li class="success-block__item">
                                <a href="https://www.facebook.com/godunov.digital" target="_blank">
                                    <span class="swipe-animation">
                                      <span class="swipe-animation__wrapper">
                                        <span class="swipe-animation__title">
                                          facebook
                                          <span class="swipe-animation__sub">
                                            facebook
                                          </span>
                                        </span>
                                      </span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="success-p__btn">
                <a href="https://godunov.digital/" class="success-circle">
                    <div class="arrow-right-svg svg"></div>
                </a>
            </div>
            <div class="success-p__next">
                <div class="success-block">
                    <div class="success-block__heading">
                        <span>Что дальше?</span>
                    </div>
                    <div class="success-block__body">
                        <div class="success-block__thank">
                            <span>Спасибо за заявку, наш менеджер свяжется с вами в ближайшее время</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="success-p__can">
                <div class="success-block">
                    <div class="success-block__heading">
                        <span>Вы можете</span>
                    </div>
                    <div class="success-block__body">
                        <div class="success-block__back">
                            <a href="https://godunov.digital/" class="underlined-animation">
                                <span class="swipe-animation underlined-animation__sub">
                                  <span class="swipe-animation__wrapper">
                                    <span class="swipe-animation__title">
                                      вернуться
                                      <span class="swipe-animation__sub">
                                        вернуться
                                      </span>
                                    </span>
                                  </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="success-p__footer">
            <div class="success-copywriting">
                <span>©2017—2021 godunov</span>
            </div>
        </div>
    </div>
</div>