@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  // background-image: url(../img/devs/1440/blog.png);
  // background-image: url(../img/devs/991/brif.png);
  // background-image: url(../img/devs/720/brif.png);
  // background-image: url(../img/devs/368/brif.png);
  background-position-y: -1px;
  
  
  
  // background-position-y: -46px;
  // background-image: url(../img/devs/368/main.png);
  background-size: cover;
  background-color: #f0f0f0;
  //dev
  margin: 0;
  padding: 0;
  font-family: $mainFont;
	font-size: $mainFontSize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent!important;
  &.overflow {
    overflow: hidden;
    position: relative;
  } 
}
section {
  position: relative;
}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.wrapper {
  flex: 1;
  min-height: 89vh;
  overflow: hidden;
}
// grid update
.container {
    position: relative;
    width: 88vw;
    margin: 0 auto;
    @media screen and (max-width: $beforeDesktopWidth) {        // max 767    
      width: 84.3vw;
    }
    @media screen and (max-width: $beforeSmDesktopWidth) {        // max 767    
      width: 90vw;
    }
    @media screen and (max-width: $beforeTableWidth) {        // max 767    
      width: 100%;
      padding-right: 20px;
      padding-left: 22px;
    }
    
   
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


// Modules

@import "modules/svg.scss";
@import "modules/menu.scss";
@import "modules/footer.scss";
@import "modules/modals.scss";
@import "modules/scrolling.scss";

@import "modules/priorities.scss";

// Pages 

@import "modules/home.scss";
@import "modules/brif.scss";